<ion-view view-title="首页">

  <ion-content class="padding">

  <!-- 图片轮播-->
  <div>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval=2000 show-pager="true" pager-click="pageClick(index)" active-slide="model.activeIndex" delegate-handle="delegateHandler">
    <ion-slide>
    <div class="box blue">
      <img src="http://202.114.196.97:43080/getPicture/?name=niugu" ng-click="gotoNiugu()">
    </div>
    </ion-slide>
    <ion-slide>
    <div class="box yellow">
      <img src="http://202.114.196.97:43080/getPicture/?name=regu" ng-click="gotoRegu()">
    </div>
    </ion-slide>
    <ion-slide>
    <div class="box pink">
      <img src="http://202.114.196.97:43080/getPicture/?name=zixun" ng-click="gotoZixun()">
    </div>
    </ion-slide>
    </ion-slide-box>

    
  </ion-content>
  </div>
  <!-- 1x4网格布局图标菜单-->
  <div class="row"  style="background-color:#C6E2FF;margin-top:10px;margin-bottom:10px;text-align:center;">
    
    <div class="col col-25" on-tap="gotoDapan();">
      <div><i class="icon icon-dapan"  style="font-size:  50px;color:#E066FF"></i>
      </div>
      <div><span style="color:#E066FF" style="background-color:#C6E2FF">大盘行情</span>
      </div>
    </div>
    
    <div class="col col-25" on-tap="gotoShuju();"> 
      <div><i class="icon icon-shuju"  style="font-size: 50px;color:#E066FF"></i>
      </div>
      <div><span style="color:#E066FF">数据服务</span>
      </div>
    </div>
    <div class="col col-25" on-tap="gotoShequ();"> 
      <div><i class="icon icon-shequ"  style="font-size: 50px;color:#E066FF"></i>
      </div>
      <div><span style="color:#E066FF">社区交流</span>
      </div>
    </div>
    <div class="col col-25" on-tap="gotoKetang();"> 
      <div><i class="icon icon-ketang" style="font-size: 50px;color:#E066FF"></i>
      </div>
      <div><span style="color:#E066FF">量化课堂</span>
      </div>
    </div>
  </div>
  
  <!-- 2x4网格布局图标菜单-->
  

</ion-view>
